<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {% stylesheets
        'css/bootstrap.css'
        'css/font-awesome.min.css'
        'css/*'
        filter='cssrewrite' %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet">
        {% endstylesheets %}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
{% set route = app.request.get('_route') %}

{# ======     TOP BELT WITH IMAGE    ====== #}
<div>
    {% image 'images/top_baner.png' %}
    <img src="{{ asset_url }}" alt="Office" class="top-banner img-responsive"/>
    {% endimage %}
    <div class="top-belt-logo"><div class="top-belt-center">{{ 'any.mac' }}</div></div>
</div>
{# ======     END OF TOP BELT WITH IMAGE    ====== #}


{# ======     SIEDE MENU    ====== #}
<div class="nav-side-menu">
    <div class="brand"><a href="#">{{ app.user.username }}</a></div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

    <div class="menu-list">
        {% include '::super_admin_menu.html.twig' %}
    </div>
</div>
{# ======     END OF SIEDE MENU    ====== #}



<div class="main-wrapper">
    <div class="main-content-wrapper ">
        {% block content_header %}
            <div class="col-md-12 content-header-wrapper">
                {#======     ACTUAL LOCATION    ====== #}
                <div class="col-md-4 location-name">
                    {% set route = app.request.get('_route') %}
                    <div class="content-header">{{ company.name|upper ~ ' / '}}
                        {% if route == 'fos_user_registration_register' %}
                            {{ 'new_user.tab_name'|trans({},'user')|upper }}

                        {% elseif route == 'fos_user_registration_confirmed' %}
                            {{ 'confirm_user.tab_name'|trans({},'user')|upper }}

                        {% elseif (route == 'new_company') or (route == 'save_company') %}
                            {{ 'new_company.tab_name'|trans({},'company')|upper }}

                        {% elseif (route == 'new_ticket') or (route == 'save_ticket') %}
                            {{ 'new_ticket.tab_name'|trans({},'ticket')|upper }}

                        {% elseif (route == 'all_opened_tickets') %}
                            {{ 'opened_list.tab_name'|trans({},'ticket')|upper }}
                        {% endif %}
                    </div>
                </div>
                {#======     END OF ACTUAL LOCATION    ====== #}

                {#======     FLASH MESSAGES    ====== #}
                <div class="col-md-8 messages">
                    <div class="flash-msg-wrapper">
                        <div class="flash-msg-content">

                            {% if app.session.flashBag is not empty %}
                                {% for type,msg in app.session.flashBag.all %}

                                    <div class="alert alert-{{ type }} alert-style">
                                        {% for one_msg in msg %}
                                            {{ one_msg }}
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                 {#======     END OF FLASH MESSAGES    ====== #}
            </div>
        {% endblock %}
            <div class="col-md-12 content-wrapper">
                {% block body %}{% endblock %}
            </div>

    </div>
</div>


{% block javascripts %}
    {% javascripts
    'js/jquery.js'
    'js/bootstrap.js'
    'js/*' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
</body>
</html>
