{% trans_default_domain 'FOSUserBundle' %}
{% block subject %}
    {% autoescape false %}
        {{ 'registration.email.subject'|trans({},'emails') }}
    {% endautoescape %}
{% endblock %}
{% block body_text %}
    {% autoescape false %}
    {% endautoescape %}
{% endblock %}
{% block body_html %}
<p><b>{{ 'registration.email.header'|trans({'%username%': user.username},'emails') }}</b></p>
<p>{{ 'registration.email.content'|trans({},'emails') }} <a href="{{ confirmationUrl }}">{{ confirmationUrl }}</a></p>
<p>{{ 'registration.email.regards'|trans({},'emails') }}<br>
{{ 'registration.email.sign'|trans({},'emails') }}</p>
{% endblock %}

